.ellipsis_icon {
  position: absolute;
  right: 0;
  margin-right: 5px;
  stroke: var(--secondary);
}

.icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.menu_container {
  position: absolute;
  right: 10px;
  top: 53px;
  background: var(--bg-dark);
  width: 130px;
  padding: 15px 10px;
  border-radius: 10px;
  z-index: 88888;
}

.menu_item {
  cursor: pointer;
  font-size: 0.8rem;
}

.menu_item:hover {
  color: var(--secondary);
}

@media (min-width: 900px) {
  .menu_item {
    font-size: 1rem;
  }
}