.content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.cover_container {
  width: 330px;
  height: 330px;
}

.song_cover {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song_title {
  font-size: 2.1rem;
  color: var(--light-blue);
  margin-top: 20px;
  margin-bottom: 5px;
}

.song_artist {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-top: 5px;
}

.song_description {
  display: grid;
  grid-template-columns: 100px 100px 80px 80px;
  align-items: start;
}

.description_text {
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
}

.description_subtext {
 margin: 0;
}

.icon_md {
  width: 60px;
  height: 60px;
}

.icon_sm {
  width: 60px;
  height: 60px;
}

.play_icon {
  fill: var(--secondary);
  cursor: pointer;
}

.heart_icon {
  cursor: pointer;
}

.heart_icon_stroke {
  stroke: var(--secondary);
}

.heart_icon_fill {
  fill: var(--secondary);
  stroke: var(--secondary);
}

@media (min-width: 900px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: baseline;
    gap: 20px;
    width: calc(100vw - 150px);
  }

  .cover_container {
    width: 320px;
    height: 320px;
    max-width: 500px;
  }

  .icon_md {
    margin-top: 10px;
  }

  .icon_sm {
    margin-top: 10px;
  }

  .song_description {
    grid-template-columns: 120px 120px;
  }
}