.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 15px;
  overflow: hidden;
}

.new_song_container {
  position: relative;
  width: 100%;
  height: 420px;
}

.hero_image {
  position: absolute;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
}

.new_song_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-inline: 20px;
}

.new_song_info>h2 {
  margin: 0;
  font-size: 2.3em;
}

.top_charts_text {
  font-size: 1.4em;
  font-weight: 500;
}

.top_charts_container {
  display: flex;
  overflow-x: auto;
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    padding-inline: 0;
    padding-block: 20px;
    justify-content: flex-start;
  }

  .hero_image {
    border-radius: 50px;
  }

  .new_song_container {
    max-width: 1000px;
    height: 600px;
    flex: 2;
  }

  .charts_container {
    width: auto;
  }

  .top_charts_container {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    gap: 10px;
    flex: 1;
  }

  .top_charts_text {
    margin-top: 0;
    font-size: 1.7em;
  }
}