.content {
  margin-bottom: 150px;
}

.title {
  font-size: 1.4em;
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow-x: auto;
}

@media (min-width: 900px) {
  .title {
    font-size: 1.7em;
  }
}