.content {
  margin-bottom: 150px;
}

.title {
  font-size: 1.4em;
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow-x: auto;
}

.card {
  flex-shrink: 0;
}

.card_img {
  border-radius: 30px;
}

.card_title {
  font-size: .9rem;
  margin-top: 2px;
  margin-bottom: 0px;
  width: 200px;
}

.card_subtitle {
  font-size: .9em;
  margin-top: 7px;
  color: gray;
  width: 200px;
}

@media (min-width: 900px) {
  .title {
    font-size: 1.7em;
  }
}